*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN */

main{
    height: calc(100vh - 60px);
    display: flex;
}

aside{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 200px;
}

#logo{
    width: 80%;
    flex-shrink: 0;
}

#logo, #logo-small{
    margin-top: 15px;
    align-self: center;
}


.botton-container, .playlist, .download, .user{
    margin: 10px;
}

.menu-button{
    padding: 10px ;
}

.menu-button svg{
    width: 40px;
}

.menu-button svg, .menu-button h2{
    vertical-align: middle;
}

.playlist{
    flex-grow: 1;
    overflow: scroll;
}

.playlist h3, i{
    padding: 10px 0px;
   vertical-align: middle;
}

.playlist ul{
    list-style: none;
}

.playlist ul li{
    padding: 5px;
}

.download, .user{
    display: flex;
}

.download >svg{
    width: 20px;
    vertical-align: middle;
    align-self: center;
}

.user-container{
    width: 30px;
    height: 30px;
    background-color: #878787;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
 
}

.user-container svg{
    width: 70%; 
}

.download h5, .user h5{
    margin-left: 10px;
}




/* TOGGLE BAR */

.toggle-bar{
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    background-color: #282828;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* LEFT */

.toggle-bar-left{
    display: flex;
    align-items: center;
}

.toggle-bar-left >.img-container{
    width: 40px;
}

.toggle-bar-left >.img-container >img{
    width: 100%;
    flex-shrink: 0;
}

.toggle-bar-left >.info-container >h5{
    color: white;
}



/* CENTER */

.toggle-bar-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toggle-bar-center-top{
    display: flex;
    align-items: center;
}

.toggle-bar-center-bottom{
    display: flex;
    align-items: center;
}


.toggle-bar-center-bottom >.progress-bar{
    flex-grow: 1;
    background-color: #878787;
    height: 8px;
    margin: 0 8px;
}


/* RIGHT */
.toggle-bar-right{
    display: flex;
    align-items: center;   
}

.toggle-bar-right .progress-bar{
    background-color: #878787;
    margin-right: 15px;
    height: 4px;

}



/* Utilities */

.visible{
    display: inline-block;
}

 .hidden{
    display: none;
}

hr{
    border: 1px solid #878787;
    width: 90%;
    margin: 3px auto;
    
}

a{
    text-decoration: none;
}

.grey-text{
    color: #878787;
}

.white-text{
    color: white;
}

.progress-bar >.progress{
    background-color: white;
    width: 20%;
    height: 100%;
}



/* PER IL MOMENTO LA SCRIVO QUA */

@media screen and (max-width: 767px){
    aside{
        width: 60px;
    }

    .visible{
        display: none;
    }

     .hidden{
        display: block;
        width: 40px;
        flex-shrink: 0;
    }

    .menu-button svg{
        width: 100%;
    }

    .download, .user{
        justify-content: center;
    }
    
    

}





/* TOGGLE BAR MEDIA QUERIES */

@media screen and (max-width: 479px){
    
    .fa-fw{
        font-size: 8px;
    }

    .info-container >p{
        font-size: 8px;
    }

    .toggle-bar-left >*,:not(.icons.container) .toggle-bar-left >.icons-container >*{
        margin: 0 1px;
    }

    .icons-container >a{
        display: block;
    }

    .icons-container >a >i{
        line-height: 0px;
    }

    .toggle-bar-center-top >*{
        padding: 0 5px;  
    }

    .toggle-bar-center-top .fa-play-circle-o{
        font-size: 15px;
    }

    .toggle-bar-right >*:not(.progress-bar){
        padding: 0px 1px;
    }


    .toggle-bar-right .progress-bar{
        width: 40px;
    }
   
}

@media screen and (min-width: 480px){

    .fa-fw{
        font-size: 12px;
    }
    
    .info-container >p{
        font-size: 10px;
    }

    .toggle-bar-left >*,:not(.icons.container) .toggle-bar-left >.icons-container >*{
        margin: 0 4px;
    }

    .icons-container >a >i{
        line-height: 0px;
    }

    .toggle-bar-center-top >*{
        padding: 0 10px;  
    }

    .toggle-bar-center-top .fa-play-circle-o{
        font-size: 20px;
    }

    .toggle-bar-right >*:not(.progress-bar){
        padding: 0px 4px;
    }

    .toggle-bar-right .progress-bar{
        width: 60px;
    }
}



@media screen and (min-width: 768px){
    .fa-fw{
        font-size: 16px;
    }

    .info-container >p{
        font-size: 12px;
    }

    .toggle-bar-left >*,:not(.icons.container) .toggle-bar-left >.icons-container >*{
        margin: 0 8px;
    }

    .icons-container >a >i{
        line-height: 8px;
    }

    .toggle-bar-center-top >*{
        padding: 0 16px;  
    }

    .toggle-bar-center-top .fa-play-circle-o{
        font-size: 30px;
    }

    .toggle-bar-right >*:not(.progress-bar){
        padding: 0px 8px;
    }

    .toggle-bar-right .progress-bar{
        width: 80px;
    }

}


@media screen and (min-width: 992px){
    .fa-fw{
        font-size: 20px;
    }

    .info-container >p{
        font-size: 16px;
    }

    .toggle-bar-left >*:not(.icons.container), .toggle-bar-left >.icons-container >*{
        margin: 0 12px;
    }

    .toggle-bar-center-top >*{
        padding: 0 25px;  
    }

    .toggle-bar-center-top .fa-play-circle-o{
        font-size: 35px;
    }

    .toggle-bar-right >*:not(.progress-bar){
        padding: 0px 12px;
    }

    .toggle-bar-right .progress-bar{
        width: 100px;
    }


}

@media screen and (min-width: 1200px){
    .fa-fw{
        font-size: 22px;
    }

    .toggle-bar-center-top{
        padding: 0 80px;
    }

    .toggle-bar-center-top >*{
        padding: 0 30px;  
    }

    .toggle-bar-right .progress-bar{
        width: 120px;
    }

}