*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* --------------------------------------------------------- */
/* MAIN */

main{
    height: calc(100vh - 60px);
    display: flex;
}

/* 00000000000000000000000000000000000000 */
/* ASIDE */

aside{
    background-color: black;
    display: flex;
    flex-direction: column;
}

#logo{
    width: 80%;
    flex-shrink: 0;
}

#logo, #logo-small{
    margin-top: 15px;
    align-self: center;
}


.botton-container, .playlist, .download, .user{
    margin: 10px;
}

.menu-button{
    padding: 10px ;
}


.menu-button svg, .menu-button h2{
    vertical-align: middle;
}

.playlist{
    flex-grow: 1;
    overflow: scroll;
}

.playlist h3, .playlist i{
    padding: 10px 0px;
    vertical-align: middle;
}

.playlist ul li{
    padding: 5px;
}

.download, .user{
    display: flex;
}

.download >svg{
    width: 20px;
    vertical-align: middle;
    align-self: center;
}

.user-container{
    width: 30px;
    height: 30px;
    background-color: #878787;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
 
}

.user-container svg{
    width: 70%; 
}

.download h5, .user h5{
    margin-left: 10px;
}

/* 00000000000000000000000000000000000000 */
/* ARTICLE */

article{
    background-color: #141922;
    overflow: scroll;
}

.upgrade-bar{
    height: 80px;
    background-color: #070B12;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade{
    width: 150px;
    padding: 10px 0px;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    margin-right: 20px;  
    font-size: 10px;
}

.category{
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-list{
    padding: 20px 0px;
    text-align: center;
    flex-basis: 90px;
    flex-shrink: 0;
    font-size: 12px;
}


.underline{
    width: 30%;
    margin: auto;
    height: 2px;
    background-color: #9ADD2D;
}

.recently{
    padding: 15px;
}

.img-holder{
    display: flex;
    padding-top: 15px;
    flex-wrap: wrap;
}

.album{
    text-align: center;
}

.album img{
   max-width: 100%;
}

.album h4{
    font-weight: 100;
    font-size: 12px;
}

.album p{
    font-size: 10px;
}



/* --------------------------------------------------------- */
/* TOGGLE BAR */

.toggle-bar{
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    background-color: #282828;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* 00000000000000000000000000000000000000 */
/* LEFT */

.toggle-bar-left{
    display: flex;
    align-items: center;
}

.toggle-bar-left >.img-container{
    width: 40px;
}

.toggle-bar-left >.img-container >img{
    width: 100%;
    flex-shrink: 0;
}

.toggle-bar-left >.info-container >h5{
    color: white;
}

.icon-container{
    display: flex;
}

/* 00000000000000000000000000000000000000 */
/* CENTER */

.toggle-bar-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toggle-bar-center-top{
    display: flex;
    align-items: center;
}

.toggle-bar-center-bottom{
    display: flex;
    align-items: center;
}


.toggle-bar-center-bottom >.progress-bar{
    flex-grow: 1;
    background-color: #878787;
    height: 8px;
    margin: 0px 8px;
}

/* 00000000000000000000000000000000000000 */
/* RIGHT */
.toggle-bar-right{
    display: flex;
    align-items: center;   
}

.toggle-bar-right .progress-bar{
    background-color: #878787;
    margin-right: 15px;
    height: 4px;

}



/* --------------------------------------------------------- */
/* Utilities */

.visible{
    display: inline-block;
}

 .hidden{
    display: none;
}

hr{
    border: 1px solid #878787;
    width: 90%;
    margin: 3px auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.grey-text{
    color: #878787;
}

.white-text{
    color: white;
}

.progress-bar >.progress{
    background-color: white;
    width: 20%;
    height: 100%;
}

.always-hidden{
    display: none;
}

.category-list >a:hover + .underline{
    display: block;
}





/* --------------------------------------------------------- */
/* MEDIA QUERIES */

@media screen and (max-width: 479px){
    
    /* 00000000000000000000000000000000000000 */
    /* TOGGLE BAR */
    .fa-fw{
        font-size: 8px;
    }

    .info-container >p{
        font-size: 8px;
    }

    .toggle-bar-left >*,:not(.icons.container) .toggle-bar-left >.icons-container >*{
        margin: 0px 1px;
    }
    
    .icon-container{
        flex-direction: column;
        justify-content: center;
    }

    .toggle-bar-left >a >i{
        line-height: 0px;
    }

    .toggle-bar-center-top >*{
        padding: 0px 5px;  
    }

    .toggle-bar-center-top .fa-play-circle-o{
        font-size: 15px;
    }

    .toggle-bar-right >*:not(.progress-bar){
        padding: 0px 1px;
    }


    .toggle-bar-right .progress-bar{
        width: 40px;
    }

    /* 00000000000000000000000000000000000000 */
    /* ASIDE */
    aside{
        width: 60px;
    }

    .visible{
        display: none;
    }

    .hidden{
        display: block;
        width: 40px;
        flex-shrink: 0;
    }

    .menu-button svg{
        width: 100%;
    }

    .download, .user{
        justify-content: center;
    }
    
    /* 00000000000000000000000000000000000000 */
    /* ARTICLE */
    .img-holder{
        justify-content: center;
        flex-wrap: wrap;
    }
    .album{
        width: calc((100vw - 90px) / 2);
        flex-basis: 160px;
        margin: 10px;
   }

}

@media screen and (min-width: 480px){

    /* 00000000000000000000000000000000000000 */    
    /* TOGGLE BAR */
    .fa-fw{
        font-size: 12px;
    }
    
    .info-container >p{
        font-size: 10px;
    }

    .toggle-bar-left >*,:not(.icons.container) .toggle-bar-left >.icons-container >*{
        margin: 0px 4px;
    }

    .icon-container{
        flex-direction: column;
        justify-content: center;
    }

    .toggle-bar-left >a >i{
        line-height: 0px;
    }

    .toggle-bar-center-top >*{
        padding: 0px 10px;  
    }

    .toggle-bar-center-top .fa-play-circle-o{
        font-size: 20px;
    }

    .toggle-bar-right >*:not(.progress-bar){
        padding: 0px 4px;
    }

    .toggle-bar-right .progress-bar{
        width: 60px;
    }

    /* 00000000000000000000000000000000000000 */
     /* ASIDE */
     aside{
        width: 60px;
    }

    .visible{
        display: none;
    }

        .hidden{
        display: block;
        width: 40px;
        flex-shrink: 0;
    }

    .menu-button svg{
        width: 100%;
    }

    .download, .user{
        justify-content: center;
    }

    /* 00000000000000000000000000000000000000 */
    /* ARTICLE */
    .img-holder{
        justify-content: center;
        flex-wrap: wrap;
    }
    .album{
        width: calc((100vw - 90px) / 4);
        flex-basis: 160px;
        margin: 10px;
   }

}



@media screen and (min-width: 768px){

     /* 00000000000000000000000000000000000000 */
    /* TOGGLE BAR */
    .fa-fw{
        font-size: 16px;
    }

    .info-container >p{
        font-size: 12px;
    }

    .toggle-bar-left >*,:not(.icons.container) .toggle-bar-left >.icons-container >*{
        margin: 0px 8px;
    }

    .icon-container{
        flex-direction: row;
    }

    .toggle-bar-left >a >i{
        line-height: 8px;
    }

    .toggle-bar-center-top >*{
        padding: 0px 16px;  
    }

    .toggle-bar-center-top .fa-play-circle-o{
        font-size: 30px;
    }

    .toggle-bar-right >*:not(.progress-bar){
        padding: 0px 8px;
    }

    .toggle-bar-right .progress-bar{
        width: 80px;
    }

    /* 00000000000000000000000000000000000000 */
    /* ASIDE */
    aside{
        width: 200px;
    }

    .visible{
        display: inline-block;
    }

     .hidden{
        display: none;
    }

    .menu-button svg{
        width: 40px;
    }

    .download, .user{
        justify-content: flex-start;
    }

    /* 00000000000000000000000000000000000000 */
    /* ARTICLE */

    .img-holder{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .album{
        width: calc((100vw - 230px) / 4);
        flex-basis: 160px;
        margin: 10px;
   }
}


@media screen and (min-width: 992px){

    /* 00000000000000000000000000000000000000 */
    /* TOGGLE BAR */ 
    .fa-fw{
        font-size: 20px;
    }

    .info-container >p{
        font-size: 16px;
    }

    .toggle-bar-left >*:not(.icons.container), .toggle-bar-left >.icons-container >*{
        margin: 0px 12px;
    }

    .toggle-bar-center-top >*{
        padding: 0px 25px;  
    }

    .toggle-bar-center-top .fa-play-circle-o{
        font-size: 35px;
    }

    .toggle-bar-right >*:not(.progress-bar){
        padding: 0px 12px;
    }

    .toggle-bar-right .progress-bar{
        width: 100px;
    }

    /* 00000000000000000000000000000000000000 */
    /* ARTICLE */
    .img-holder{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .album{
        width: calc((100vw - 230px) / 6);
        flex-basis: 110px;
   }


}

@media screen and (min-width: 1200px){

    /* 00000000000000000000000000000000000000 */
    /* TOGGLE BAR */

    .fa-fw{
        font-size: 22px;
    }

    .toggle-bar-center-top{
        padding: 0 80px;
    }

    .toggle-bar-center-top >*{
        padding: 0 30px;  
    }

    .toggle-bar-right .progress-bar{
        width: 120px;
    }

    /* 00000000000000000000000000000000000000 */
    /* ARTICLE */
    .img-holder{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .album{
        width: calc((100vw - 230px) / 6);
        flex-basis: 125px;
    }
 

}